@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tracking Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <a class="navbar-brand btn btn-outline-warning" href="#">Parcel Tracking Information</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#addTracking">Add Tracking</button>
                    </li>
                  
                </ul>
                
            </div>
        </nav>


        <div class="container">
           
            <table class="table table-striped  table-dark">
                <thead>
                    <tr>
                        <th >Description </th>
                        <th >Delivery Status </th>
                        <th >Dispatched On </th>
                        <th >Tracking Id</th>
                     

                    </tr>
                </thead>
                <tbody id="trackingInfo">
                  
                </tbody>
            </table>
        </div>
    </div>







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/TrackingInfoes';

        $(document).ready(function () {
            // Gets trackings 
            $.getJSON(uri)
                .done(function (data) {

                    $("#trackTemplate").tmpl(data).appendTo("#trackingInfo");
                });
        });



        function getAllTracking() {

               $.getJSON(uri)
                   .done(function (data) {

                       $("#trackingInfo").text("");

                    $("#trackTemplate").tmpl(data).appendTo("#trackingInfo");
                });

        }

        function addTracking() {
            var _description = $('#description').val();
            var _deliveryStatus = $('#deliveryStatus').val();
            var _dispatchedOn = $('#dispatchedOn').val();
          
           


            var tracking = {
                description :  _description,
                deliveryStatus :_deliveryStatus,
                dispatchedOn:  _dispatchedOn
               
           
            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(tracking),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Inserted tracking info");
                getAllTracking();
            }).fail(function (jqXHR, textStatus) {
                          $("#result").html("Failed");
               });




        }





        function updateTracking() {
           var _description = $('#_description').val();
            var _deliveryStatus = $('#_deliveryStatus').val();
            var _dispatchedOn = $('#_dispatchedOn').val();
           


            
            var tracking = {
                id: parseInt($('#_id').val()),
                description :  _description,
                deliveryStatus :_deliveryStatus,
                dispatchedOn:  _dispatchedOn
               
           
            };


            $.ajax({
                type: "PUT",
                url: uri+"/"+ $('#_id').val(),
                data: JSON.stringify(tracking),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Changed Tracking");
                getAllTracking();
            }).fail(function (jqXHR, textStatus) {
                          $("#resultUpdate").html("Error occured");
               });;




        }



        function remove(id) {


          var yes =  confirm("Removing the trackig info?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getAllTracking();
                });

            }


        }


         


        function viewForEdit(id) {

             $.ajax({
                type: "GET",
                url: uri+"/"+id,
               contentType: "application/json"
             }).done(function (response) {

                  $('#_id').val(response.id);
                 $('#_description').val(response.description) ;
                 $('#_deliveryStatus').val(response.deliveryStatus);
                 $('#_dispatchedOn').val(response.dispatchedOn);
                         


            });


        }
    </script>

    

    <script id="trackTemplate" type="text/x-jquery-tmpl">
       
        <tr>

            <td> ${description}</td>
            <td>${deliveryStatus}</td>
            <td>${dispatchedOn}</td>
            <td> ${trackingId}</td>

<td> <button class="btn btn-outline-primary" onclick="viewForEdit('${id}')" data-toggle="modal" data-target="#updateTracking">Change Details</button></td>
            <td> <a href="#" class="btn btn-outline-danger" onclick="remove('${id}')">Remove Tracking</a></td>

        </tr>
    </script>



    <div class="modal" tabindex="-1" role="dialog" id="addTracking">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Tracking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <input type="text" class="form-control" id="description" >

                        </div>
                        <div class="form-group">
                            <label for="model">Delivery Status</label>
                            <select id="deliveryStatus">
                                <option value="Delivered">Delivered</option>
                                <option value="Pending">Pending</option>
                                <option value="Shipped">Shipped</option>
                            
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="model">Dispatched On</label>
                            <input type="datetime-local" class="form-control" id="dispatchedOn" >

                        </div>
                     
                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="addTracking()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="updateTracking">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Tracking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">

                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <input type="text" class="form-control" id="_description">

                        </div>
                        <div class="form-group">
                            <label for="model">Delivery Status</label>
                            <select id="_deliveryStatus">
                                <option value="Delivered">Delivered</option>
                                <option value="Pending">Pending</option>
                                <option value="Shipped">Shipped</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="model">Dispatched On</label>
                            <input type="datetime-local" class="form-control" id="_dispatchedOn">

                        </div>

                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="updateTracking()" class="btn btn-primary">Update Tracking</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>